﻿@using AdvancedSearchSample.Core
@model AdvancedSearchSample.Core.Features.AdvancedSearch.AdvancedSearchViewModel
@{
    ViewBag.Title = "Home Page";
}

<form method="POST">
    <div class="row">
        <div class="col-md-12">
            <h2>Scholar</h2>
            <div class="form-group">
                @Html.LabelFor(x => x.LastName)
                @Html.TextBoxFor(x => x.LastName, new {@class = "form-control"})
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.Hometown)
                @Html.TextBoxFor(x => x.Hometown, new {@class = "form-control"})
            </div>

            <div class="form-group">
                @Html.LabelFor(x => x.ScholarYear, "Scholar Year")
                @Html.DropDownListFor(x => x.ScholarYear, DummyData.ScholarYearSelectList, new {@class = "form-control"})
            </div>

            <div class="form-group">
                @Html.LabelFor(x => x.Gender)<br/>
                @Html.RadioButtonFor(x => x.Gender, "All", new {id = "genderall"}) <label for="genderall">All</label>
                @Html.RadioButtonFor(x => x.Gender, "Female", new {id = "genderfemale"}) <label for="genderfemale">Female</label>
                @Html.RadioButtonFor(x => x.Gender, "Male", new {id = "gendermale"}) <label for="gendermale">Male</label>
            </div>

            <h2>Academic</h2>
            <div class="form-group form-inline">
                <label>Cum. GPA</label><br/>
                @Html.TextBoxFor(x => x.MinGPA, new {@class = "form-control", style = "width: 50px"}) to @Html.TextBoxFor(x => x.MaxGPA, new {@class = "form-control", style = "width: 50px"})
            </div>
            <input type="submit" value="Search" class="btn btn-primary"/>
        </div>
    </div>
</form>
<br/>
@if (Model.Result.Any()) { 
<div class="jumbotron">
    <table class="table table-striped">
        <tr>
            <th>Scholar ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Gender</th>
            <th>GPA</th>
            <th>Scholar Year</th>
            <th>Hometown</th>
        </tr>
        @foreach (var record in Model.Result)
        {
            <tr>
                <td>@record.ScholarId</td>
                <td>@record.FirstName</td>
                <td>@record.LastName</td>
                <td>@record.Gender</td>
                <td>@record.GPA</td>
                <td>@record.Year</td>
                <td>@record.Hometown</td>
            </tr>
        }
    </table>
</div>
}
